*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #ffcdb2;
    text-align: center;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width : 60vmin;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    gap:1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius:1rem ; 
    border:none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.4);
    font-size:8vmin;
    color:#6d6875;
    background-color:#b5838d ;
}

#reset-btn {
    padding:1rem;
    font-size: 1.25rem;
    background-color: #e5989b;
    color:#fff;
    border-radius:1rem;
    border:none;
}

#new-btn{
    padding:1rem;
    font-size: 1.25rem;
    background-color: #e5989b;
    color:#fff;
    border-radius:1rem;
    border:none; 
    position: absolute;
    top: 80%;
}

#msg {
    color:#9b0606;
    font-size: 7vmin;
    position: absolute;
    top: 65%;
}

.msg-container {
    height:100vmin;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:4rem;
}

.hide{
    display:none;
}

.gif-container {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.gif-container.hide {
    display: none;
}

.gif-container img {
    width: 400px; /* Adjust size as needed */
    height: auto;
}